<div class="grid">
  @if(countryChartDatas) {
    <div class="col-full">
      <app-header
        [titlePage]="titlePage"
        [infos]="[
          { label: 'Number of entries', count: totalEntries },
          { label: 'Total number medals', count: totalMedals },
          { label: 'Total number of athletes', count: totalAthletes }
        ]"
      />
    </div>
    <div class="chart-container col-full col-desktop-8-center">
      <div class="container">
        @if(countryChartDatas) {
          <app-country-chart [datas]="countryChartDatas"/>
        }
        <h2 class="legend">Dates</h2>
      </div>
    </div>
    <div class="center col-full">
      <button routerLink="/">Retour</button>
    </div>
  } @else if(error) {
    <div class="col-full col-desktop-8-center">{{ error }}</div>
  } @else {
    <app-loader message="Chargement des informations du pays" class="col-full"/>
  }

</div>
