@use "app/shared/styles/breakpoint.style" as bp;

.container {
  width: 100%;

  .legend {
    @include bp.desktop {
      text-align: center;
      color: gray;
    }
  }
}

.legend {
  font-weight: normal;
}
