<div class="grid">
  @if(countryChartDatas) {
    <div class="col-full">
      <app-header
        [titlePage]="titlePage"
        [infos]="[
          { label: 'Number of entries', count: totalEntries },
          { label: 'Total Number of medals', count: totalMedals },
          { label: 'Total Number of athletes', count: totalAthletes }
        ]"
      />
    </div>
    <div class="chart-container col-full col-desktop-8-center">
      <div class="container">
        @if(countryChartDatas) {
          <app-country-chart [datas]="countryChartDatas"/>
        }
        <h2 class="legend">Date</h2>
      </div>
    </div>
    <div class="center col-full">
      <a routerLink="/">Go back</a>
    </div>
  } @else {
    <app-loader message="Chargement des informations du pays"/>
  }

</div>
